<!doctype html>
<title>Hello from Flask</title>
<body style="background: {{ color }};"></body>
<div style="color: #e4e4e4;
    text-align:  center;
    height: 90px;
    vertical-align:  middle;">

<img src="/editor/proxy/{{ hostport }}{{url_for('static', filename='SunCavanaugh100.png')}}" />
{% if name %}
  <h1>Hello from {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

<h2>Event info:</h2>

{% if gitref %}
   App built from: {{ gitref }} <br><br>
   {% else %}
{% endif %}

{% if pusher %}
   Pushed to repo by: {{ pusher }} <br><br>
   {% else %}
{% endif %}


</div>
